<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="SlimSkeleton">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name='HTTP_HOST' value='http://localhost' />
    </php>
    <logging>
        <log type="coverage-clover" taget="build/logs/clover.xml"/>
    </logging>
    <filter>
        <whitelist>
            <directory>src/</directory>
            <exclude>
                <directory>src/model</directory>
                <file>src/middleware.php</file>
                <file>src/dependencies.php</file>
                <file>src/routes.php</file>
                <file>src/settings.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
